form {
    margin-top: 3rem;
}


form input[name='city'],
form input[name='country'] {
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
}

form input:focus{
    background-color: transparent !important;
    box-shadow: none !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}
